<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  

<!-- Cross Domain Filter --> 
    <servlet>
        <servlet-name>CORS Filter</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
            <param-value>rest.CORSFilter</param-value>
        </init-param>
       
       <load-on-startup>1</load-on-startup>  
       
      
    </servlet>
    
    <servlet-mapping>
    <servlet-name>CORS Filter</servlet-name>
    <url-pattern>/resources/*</url-pattern>
    
    </servlet-mapping>


<!-- Security Constraints -->

       <security-constraint>
        <display-name>Kowric Protection</display-name>
        <web-resource-collection>
            <web-resource-name>Secure Kowric</web-resource-name>
        
            <url-pattern>/resources/userupdate/*</url-pattern>
         

        </web-resource-collection>
        <auth-constraint>
        <role-name>users</role-name>
      
        </auth-constraint>
    </security-constraint>
 
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>KowricRealm</realm-name>
    </login-config>
    <security-role>
        <description>Users</description>
        <role-name>users</role-name>
         
    </security-role>
      



  
</web-app>
